
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.nav {
  display: flex;
  justify-content:center;
  align-items: center;
  color:#1c3249;
  background-color:#ffffff;
  box-shadow:10px 5px 20px #eff4f4;
  text-decoration: none;
  height: 80px;
  gap: 50px;

}


.menu{
  display: flex;
  justify-content: center;
  align-items: center;
}



.menu-link{
  display: flex;
  align-items: center;
  text-decoration: none;
  color:#1c3249;
  font-size: 18px;
  position: relative;


}

.menu-link::after{
  content: "  ";
  width: 0%;
  height: 2px;
  background-image: linear-gradient(45deg,   #7d888d , #1579c1);
  position: absolute;
  bottom: 0;
  left:0;
  transition: 0.5s ease-in-out;
}
.menu-link:hover::after{
  width: 100%;
}


.menu_login,.menu__cadastre-se{
  background-color: #1579c1;
  width: 240px;
  text-align: center;
  border-radius: 16px;
  font-size: 18px;
  text-decoration: none;
  padding: 21.5px 0;
  color: #ffffff;
  padding: 10px 50px;
  cursor: pointer;

}

.menu_login:hover{
  background-color:  #1c3249;
}

.menu__cadastre-se:hover{
  background-color:  #1c3249;
}

.logo{
  width: 25%;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top:  10px ;
  

}

.menu-icon{
  display: none;
  cursor: pointer;
}
.menu-icon img{
  width: 30px;
}

@media screen and (max-width:1030px){
    .menu-icon{
        display: block;
    }
   
    
}

.container{
    
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    
    
    
}
.content{
    background-color: #1579c1;
    display: flex;
    align-items:center;
    flex-direction:row;
    gap: 30px;
    margin-top: -50px;
    padding: 30px 50px;
    border-radius: 20px;
   

   
}

.container .content .lado_esquerdo{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    position: relative;
    
  }
  .content .lado_esquerdo::before{
    content: '';
    position: absolute;
    height: 60vh;
    width: 3px;
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
    background: #1c3249;
  }
  .content .lado_esquerdo {
    margin: 40px;
    gap: 20px;
    text-align: center;
  }
.informacoes_endereco .informacoe_telefone .informacao_email{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
h1{
    font-size: 20px;
    color: #ffffff;
    margin: 10px;
    
   
}
.conteudo-paragrafo{
    color: #000000;;
}

.container .content .lado_direito{
    width: 75%;
    margin-left: 10px;
    float:right;
    
  }
  .content .lado_direito .titulo{
    font-size: 23px;
    font-weight: 600;
    
    
  }
  .lado_direito .conteudo-input{
    height: 50px;
    width: 100%;
    margin: 12px 0;
  }
  
.conteudo-input input, textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.input-mensagem{
  min-height: 100px;
  padding-top: 6px;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  resize: none; 

}

.button{
  display: inline-block;
  margin-top: 10px;
}

.button input[type="button"]{
  color: #ffffff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background:  #1c3249;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover{
  background:  #1c324988;;
}
/* style página de agendamento*/

.container-agendamento{
    
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  
  
  
}
.content-agendamento{
 
  display: flex;
  align-items:center;
  flex-direction:row;
  gap: 30px;
  margin-top: -50px;
  padding: 30px 50px;
  border-radius: 20px;
 

 
}

.container-agendamento .content-agendamento .lado_esquerdo{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  position: relative;
  
}
.content-agendamento .lado_esquerdo::before{
  content: '';
  position: absolute;
  height: 77vh;
  width: 3px;
  right: -50px;
  top: 50%;
  transform: translateY(-50%);
  background: #1579c1;
}
.content-agendamento .lado_esquerdo {
  margin: 40px;
  gap: 20px;
  text-align: center;
}

.titulo-agendamento{
  font-size: 20px;
  color: #b31c1c;
  margin: 10px;
  
 
}
.conteudo-paragrafo{
  color: #000000;;
}

.container-agendamento .content-agendamento .lado_direito{
  width: 75%;
  margin-left: 10px;
  float:right;
  
}
.content-agendamento .lado_direito .titulo{
  font-size: 23px;
  font-weight: 600;
  
  
}
.lado_direito .conteudo-input{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}



.rodape{

  background-color:#1579c1;
  color: #ffffff;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  
  
  
}


@media (max-width: 950px) {
    .container{
      width: 90%;
      padding: 30px 40px 40px 35px ;
    }
    .container .content .lado_direito{
     width: 75%;
     margin-left: 55px;
  }
  }
  @media (max-width: 820px) {
    .container{
      margin: 40px 0;
      height: 100%;
    }
    .container .content{
      flex-direction: column-reverse;
    }
   .container .content .lado_esquerdo{
     width: 100%;
     flex-direction: row;
     margin-top: 40px;
     justify-content: center;
     flex-wrap: wrap;
   }
   .container .content .lado_esquerdo::before{
     display: none;
   }
   .container .content .lado_direito{
     width: 100%;
     margin-left: 0;
   }
  }